doctype html
html
  head
    title Blog
    link(rel='stylesheet', type='text/css', href='../css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  body
    wrapper
 
      div(class="home")

        div(class="center")
          button(class="indexbutton", type='button', onclick="location.href='/signup'") Sign up

           button(class="indexbutton", type='button', onclick="location.href='/login'") Log in



    script(src="/js/jquery-3.1.1.js")
    script(src="/js/custom.js")