doctype html
html
    head
        title Blog
        link(rel='stylesheet', type='text/css', href='../css/style.css')
        link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
    body
        wrapper
            nav
                ul
                    li
                        a(href='/') Home

                    li
                        a(href='/login') Log In
                    li
                        a(href='/signup') Sign Up
    h1  Login Page

        form#msform(action='/login', method='post')
            fieldset
                h2.fs-title Welcome back
                h3.fs-subtitle Log in below
                input(id = "email",type='email', name='email', placeholder='Email')
                |  
                input(id = "password", type='password', name='password', placeholder='Password')
                input(class="submitbutton", type='submit', name='submit', value='Login')
                p No member yet? <a href="/signup" class="member">register</a> here

        h3#error-message

            script(src="/js/jquery-3.1.1.js")
            script(src="/js/custom.js")
            script.
                $(document).ready(function(){
                $('.submitbutton').click(function(event){
                    if($('#email').val().trim().length === 0 || $('#password').val().trim().length ===0){
                    event.preventDefault();
                    $('#error-message').html("Your username or password is empty");

                    }
                });
                });