doctype html
html
  head
    title Blog
    link(rel='stylesheet', type='text/css', href='../css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
  body
    wrapper
      nav
        ul
          li
            a(href='/') Home
        
          li
            a(href='/login') Log In
          li
            a(href='/signup') Sign Up
  h1  Profile Page
    
